@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: "Inter", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: 100vw;
    position: relative;
}

#age-modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(50px);
    position: absolute;
    top: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    transition: 250ms;

    opacity: 1;
}

.age-modal {
    background-color: white;
    height: 350px;
    width: 450px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.confirm-button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;

    margin-top: 1rem;
}

.confirm-button:hover{
    background-color: rgb(34, 34, 34);
}

.modal-caption {
    margin-top: .5rem;
    color: gray;
    max-width: 300px;
    text-align: center;
}

.input-area {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.input-area input {
    max-width: 200px;
}
.input-area label {
    font-weight: bold;
}


.page-header-container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.page-header{
    display: flex;
    flex-direction: column;
    font-family: Times, Times New Roman, serif;
    width: 100%;
    background-color: rgb(52, 52, 37);
    padding-left: 2rem;
    margin-bottom: 2rem;
    
    border-radius: 25px;
    
    height: 5rem;
    justify-content: center;

    color: rgb(255, 255, 245);
}



.page-header > p {
    padding-left: .5rem;
    font-family: monospace;

    
}

a {
    text-decoration: none;
}

.cool-button {
    
    
    
    transition: 250ms;
}

.cool-button a {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-color: black;
    transition: 250ms;
    padding: 1rem 2rem;
    height: 100%;
    color: white;
}

.cool-button a:hover {
    background-color: rgb(33, 33, 33);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.operator {
    border-radius: 50%;
    border: 1px solid gray;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.calc-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.cool-button:hover {
   
    transform: scale(1.2) translateX(1rem);
    
    
}



.plug > h1 {
    margin-bottom: 2rem;
}

.output {
    
    max-width: 300px;
    border: 1px gray solid;
    padding: 3em 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 200px
}

.output p {
    max-width: 300px;
    overflow: auto;
    font-size: 2rem;
    flex: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    margin-top: 2rem;
    padding: 1rem 4rem 1rem 2rem;
    background-color: rgb(215, 220, 215);
    border-radius: 12px;
}


.nav-items {
    
    padding: 0 2rem 0 0;
}

.nav-items > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.left-pfp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-pfp img{
    max-width: 300px;
    height: auto;
    border-radius: 25px;
}

.nav-items > ul > li {
    list-style: none;
   
}

.nav-items > ul > li > a {

    border-radius: 16px;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: 250ms;
}

.nav-items > ul > li > a:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

.content-container {
    display: flex;
}

.pic-text-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-caption {
    margin-top: 2rem;
}

.welcome-container {
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-content {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-container {
    width: 100vw;
   
}

#input {
    border-radius: 12px;
    height: 2rem;
}

#alt-output {
    margin-top: .25rem;
    padding-left: .25rem;
    color: red;
    font-size: small;
}

.nav-items.mob {
    display: none;
}

table, th, td {
    border:1px solid black;
  }

#mob-nav-open {
    display: none;
}

@media screen and (max-width: 950px){
    .content-container {
        flex-direction: column;
    }
    .nav-items.desk  ul {
        display: none;
    }
    .pic-text-container{
        align-items: flex-start;
    }
    
    .wrapper{
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    .nav-items {
        /* position: sticky;
        bottom: 0;
        font-size: 2rem;
        padding-top: 3rem;
        padding-bottom: 2rem; */
        background-color: white;
    }

    .nav-items ul {
        
        width: 100vw;
        padding: 2rem ;

    }

    .nav-items a {
        padding: 3rem 1rem;
    }
    
    #mob-nav-open {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }

    .nav-items {
        display: none;
    }

    .nav-button {
        background-color: white;
        border: 1px solid rgb(227, 227, 227);
        border-radius: 8px 8px 0 0;
        
        padding: 1rem 0;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
    }
    .nav-button:hover {
        background-color: rgb(240, 240, 240);
    }
}
.calculator * {
    
    font-size: 1rem;
}

.calculator {
    margin-top: 3rem;
    display: flex;
    flex-direction: 1rem;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}